.semafor {
    margin: 200px 0px 0px 200px;
    background-color: black;
    height: 310px;
    width: 110px;
}
.red {
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: inline-block;
    margin: 5px -5px 0px 5px;

}
.yellow {
    background-color: rgb(255, 230, 0);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: inline-block;
    margin: 0px -5px 0px 5px;


}
.green {
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: inline-block;
    margin: 0px -5px 0px 5px;

}