.red {
    background-color: rgb(255, 86, 86);
    color: white;
}
.blue {
    background-color: #5151ff;
    color: white;
    margin: 10px 20px;
    padding: 20px;
    border: 5px solid cornflowerblue;
}
.green {
    background-color: #65e460;
    color: white;
}
.spagety {
    background-color: wheat;
}
.kecup {
    background-color: tomato;
}